@font-face{
    font-family: LemonMilk;
    src: url(./fonts/LemonMilk.otf)
}
@font-face{
    font-family: LemonMilkLight;
    src: url(./fonts/LemonMilklight.otf)
    
}
*{
    padding: 0;
    margin: 0;
}
.header h1{
    color: rgb(250, 246, 246);
    font-size: 20px;
    margin: 50px;
    font-family: LemonMilkLight;

}

.header{
    background: #1a0186;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20vh;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;
}
.box {
    display: block;
    flex-direction: row;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
}
.card img {
    width: 200px;
    
}

.card {
    margin: 30px;
    width: 20vw;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card:hover{
    margin: 30px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.5s;
}
.cards_clientes {
    display: flex;
}
.categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 40vw; */
    height: 10vh;
}
.novosclientes {
    display: flex;
    flex-direction: column;
}
.lb-In{
    margin: 5px;
    width: 5vw;
}
#newclients {
    font-size: 20px;
    display: flex;
    width: 100vw;
    height: 15vh;
}
#btn_client {
    color: white;
    background-color: rgba(33, 23, 75, 0.418);
    margin: 5px;
    padding: 5px;
    height: 5vh;
    width: 10vw;
    border-radius: 20px;
}


@media (max-width: 600px) {
    .header{
        background: #050786;
        display: flex;
        align-items: center;
        width: 100%;
        height: 10vh;
    }
    .cards {
        display: block;
        margin-top: 25px;
        align-items: center;
        width: 100vw;
        justify-content: center;
    }
    .card {
        margin: 10px;
        width: 20vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
    .card:hover{
        margin: 10px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
        transition: 0.5s;
        text-align: center;
    }
    .box-products{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    .box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .categoria {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 10vh;
    }

}